<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluiTec.Datev.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <FluiTec.Datev.Wpf.Properties.Settings>
            <setting name="BaseDir" serializeAs="String">
                <value>Y:\DATEV WTS\</value>
            </setting>
            <setting name="ExportsFileName" serializeAs="String">
                <value>exports.xml</value>
            </setting>
            <setting name="ConsultantFileName" serializeAs="String">
                <value>consultant.xml</value>
            </setting>
        </FluiTec.Datev.Wpf.Properties.Settings>
    </applicationSettings>
</configuration>
